cloud_id        = "b--------i"
folder_id       = "b------------p"
zone            = "ru-central1-a"
image_id        = "------------34"
subnet_id       = "-----------6"
public_key_path = "rsa.pub"
count_inst      = "1"
app_disk_image  = "------------f"
db_disk_image   = "-----u"
